

<div class="row" style="color: #E99C28; font-family: 'Optima', sans-serif;">
  <div class="col-md-6">
    <section class="container" style="border: 3px solid black;">
      <div class="border p-4" style="width: 500px; color: #DB741B;">
        <h2 class="text-center">Academic Year</h2>
        <form action="/admin/academic" method="post">
          <div class="form-group mt-3">
            <label for="academicStart">Start Academic Year</label>
            <input type="date" name="academicStart" id="academicStart" value="" />
          </div>
          <div class="form-group mt-3">
            <label for="academicEnd">End Academic Year</label>
            <input type="date" name="academicEnd" id="academicEnd" value="" />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <br>
        <table class="table" style="color: chocolate;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Start</th>
              <th scope="col">End</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each dataAcademicyears}}
              <tr>
                <td>
                  <input type="date" id="academicYears_{{this._id}}" name="academicYears" value="{{formatDate this.academicYears}}" />
                  <p>{{formatDate this.academicYears}}</p>
                </td>
                <td>
                  <input type="date" id="End_{{this._id}}" name="End" value="{{formatDate this.End}}" />
                  <p>{{formatDate this.End}}</p>
                </td>
                <td>
                  <button onclick="upA('{{_id}}')" class="btn btn-primary">Edit</button>
                  <br>
                  <button onclick="deA('{{_id}}')" class="btn btn-primary">Delete</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <br>
  </div>
  <div class="col-md-6" style="border: 3px solid black; color: chocolate;">
    <section class="container">
      <div class="border p-4" style="width: 500px;">
        <h2 class="text-center">Faculties</h2>
        <form action="/admin/facultyC" method="post">
          <div class="form-group mt-3">
            <label for="nameFaculty">Create a new Faculty</label> <br>
            <input type="text" name="nameFaculty" id="nameFaculty" value="" />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <br>
        <table class="table" style="color: chocolate;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Faculty</th>
              <th scope="col">Close Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each dataFacultis}}
              <tr>
                <td>
                  <input type="text" id="nameFaculty_{{this._id}}" name="nameFaculty" value="{{this.nameFaculty}}" />
                </td>
                <td>
                  <select class="form-select" onchange="submitChangeCloseDate(this, '{{_id}}')">
                    <option value="" disabled selected>Choose one</option>
                    {{#each ../dataClose}}
                      <option value="{{_id}}" {{#ifEqual _id ../closedates._id}}selected{{/ifEqual}}>{{formatDate closeDates}} - {{formatDate finalCloseDates}}</option>
                    {{/each}}
                  </select>
                </td>
                <td>
                  <button onclick="updateFa('{{_id}}')" class="btn btn-primary">Edit</button><br>
                  <button onclick="deleteFa('{{_id}}')" class="btn btn-primary">Delete</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>






<script>
  // Change role
  function submitChangeRole(e, id) {
    const selectRoleId = e.value;
    const userId = id;

    axios.put(`/admin/update/${userId}`, { role: selectRoleId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }

  // Change faculty
  function submitChangeFaculties(e, id) {
    const selectFacultyId = e.value;
    const userId = id;

    console.log('selectFacultyId: ', selectFacultyId);

    axios.put(`/admin/update/${userId}`, { facultis: selectFacultyId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }

 // ChangeCloseDate

 function submitChangeCloseDate(e, id) {
  const selectCloseDateId = e.value;
  const Id = id;

  console.log('selectCloseDate: ', selectCloseDateId)

  axios.put(`/admin//updateFa/${Id}`, {closedate: selectCloseDateId})
  .then((res) => {
     e.style.background = "#84dd89"
  }).catch((err)=>{
    e.style.background = "rgb(255,86,86)"
  }).finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })


 }




function upA(id) {
  var academicYearsInput = document.getElementById("academicYears_" + id);
  var academicYears = academicYearsInput ? academicYearsInput.value : "";
  var EndInput = document.getElementById("End_" + id);
  var End = EndInput ? EndInput.value : "";
 

  axios
    .put(`/admin/updateA/${id}`, { academicYears, End })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}




function deA(id) {
  axios
    .delete(`/admin/deleteAcademic/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}




function updateFa(id) {
  var nameFacultyInput = document.getElementById("nameFaculty_" + id);
  var nameFaculty= nameFacultyInput ? nameFacultyInput.value : "";
  axios
    .put(`/admin/updateFa/${id}`, { nameFaculty })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}


function deleteFa(id) {
  axios
    .delete(`/admin/deleteFa/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}



function subAca(e,id) {
    const selectAcaId = e.value;
    console.log(selectAcaId);
  axios
    .put(`/admin/closedateUp/${id}`, { academic: selectAcaId })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}

function subFa(e,id) {
    const selectFaId = e.value;
  axios
    .put(`/admin/closedateUp/${id}`, { faculty:selectFaId })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}






function closedateUp(id) {
  var closedateInput = document.getElementById("closedate_" + id);
  var closeDates= closedateInput ? closedateInput.value : "";
  var finalCloseDatesInput = document.getElementById("finalCloseDates_" + id);
  var finalCloseDates = finalCloseDatesInput ? finalCloseDatesInput.value : "";
 

  axios
    .put(`/admin/closedateUp/${id}`, {finalCloseDates , closeDates})
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}



function deleteClose(id) {
  axios
    .delete(`/admin/deleteCloseDates/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}


function deleteAr(id) {
  axios
    .delete(`/admin/deleteAr/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}




//chart


</script>