<div class="mt-5 container-fluid">

  <h1 class="text-center mb-5">User management</h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Faculties</th>
          <th>Close Date</th>
          
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <th>
            <img src="/{{img}}" class="img-fluid rounded-circle" style="height: 40px; width: 40px" />
          </th>
          <th>{{name}}</th>
          <th>{{email}}</th>
          <th>
            <select class="form-select" onchange="submitChangeRole(this, '{{_id}}')">
              {{#each ../nameRole}}
              <option value="{{_id}}" {{#ifEqual _id ../role._id}}selected{{/ifEqual}}>{{name}}</option>
              {{/each}}
            </select>
          </th>
          <th>
            <select class="form-select" onchange="submitChangeFaculties(this, '{{_id}}')">
              <option value="" disabled selected>Choose one</option>
              {{#each ../dataFacultis}}
              <option value="{{_id}}" {{#ifEqual _id ../facultis._id}}selected{{/ifEqual}}>{{nameFaculty}}</option>
              {{/each}}
            </select>
          </th>
          <th>
                 CloseDate: {{formatDate this.closedate.closeDates}} <br> 
                 FinalDate: {{formatDate this.closedate.finalCloseDates}}
            <select class="form-select" onchange="submitChangeCloseDate(this, '{{_id}}')">
               <option value="" disabled selected>Choose one</option>
               {{#each ../dataClose}}
                <option value="{{_id}}"{{#ifEqual _id ../closedates._id}}selected{{/ifEqual}} >{{formatDate closeDates}} - {{formatDate finalCloseDates}} </option>
                {{/each}}
            </select>
            
          </th>
          <td>
            {{!-- <button class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i></button> --}}
            <button class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
            {{!-- <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> --}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>
<section class="container">
<div class="border p-4" style="width: 500px;">
<h2 class="text-center">Academic Year</h2>
  <form action="/admin/academic" method="post">
   <div class="form-group mt-3">
    <label for="academic">Start Academic Year</label>
    <input type="date" name="academicStart" id="academicStart" value="" />
    </div>
    <div class="form-group mt-3">
    <label for="End academic">End Academic Year</label>
    <input type="date" name="academicEnd" id="academicEnd" value="" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">submit</button>
  </form>
</div>
</section>

<br>

</div>
<section class="container">
<div class="border p-4" style="width: 500px;">
<h2 class="text-center">Faculties</h2>
  <form action="/admin/facultyC" method="post">
   <div class="form-group mt-3">
    <label for="academic">Create a new Faculty </label> <br>
    <input type="text" name="nameFaculty" id="nameFaculty" value="" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">submit</button>
  </form>
</div>
</section>

<br>

<section class="container">
  <div class="border p-4">
    <h3 class="text-center">CloseDate</h3>
    <form action="/admin/closeDate" method="post">
      <div class="form-group mt-3">
        <label for="closedate">Close Dates</label>
        <input type="date" class="form-control" name="closedate" id="closedate" />
      </div>
      <div class="form-group mt-3">
        <label for="finalclosedate">Final Close Date</label>
        <input type="date" class="form-control" name="finalclosedate" id="finalclosedate" />
      </div>
      <div class="form-group mt-3">
        <label for="academic">Academic Year</label>
        <select class="form-control" name="academic" id="academic">
          <option value="" selected disabled>Choose one</option>
          {{#each dataAcademicyears}}
          <option value="{{_id}}">{{formatDate AcademicYears}} - {{formatDate End}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="faculty">Faculties</label>
        <select class="form-control" name="faculty" id="faculty">
          <option value="" selected disabled>Choose one</option>
          {{#each dataFacultis}}
          <option value="{{_id}}">{{nameFaculty}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</section>


<h3>Statistics</h3>
<table class="table table-dark">
  <thead>
    <tr>

      <th scope="col">Name Faculty</th>
      <th scope="col">Sum Articles </th>
      <th>Sum Users : {{tong}}</th>
      <th>The general account did not submit the article: {{Ar.con}}</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      {{#each sumAr}}
      <td>{{name}}</td>
      <td>{{count}}</td>
      {{/each}}
    </tr>

  </tbody>
</table>

<script>
  // Change role
  function submitChangeRole(e, id) {
    const selectRoleId = e.value;
    const userId = id;

    axios.put(`/admin/update/${userId}`, { role: selectRoleId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }

  // Change faculty
  function submitChangeFaculties(e, id) {
    const selectFacultyId = e.value;
    const userId = id;

    console.log('selectFacultyId: ', selectFacultyId);

    axios.put(`/admin/update/${userId}`, { facultis: selectFacultyId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }

 // ChangeCloseDate

 function submitChangeCloseDate(e, id) {
  const selectCloseDateId = e.value;
  const userId = id;

  console.log('selectCloseDate: ', selectCloseDateId)

  axios.put(`/admin/update/${userId}`, {closedate: selectCloseDateId})
  .then((res) => {
     e.style.background = "#84dd89"
  }).catch((err)=>{
    e.style.background = "rgb(255,86,86)"
  }).finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })


 }




</script>

