<div class="mt-5 container-fluid" style="color: rgb(19, 20, 21); font-family:Optima">

  <h1 class="text-center mb-5" >User management</h1>

  <div class="table-responsive" >
    <table class="table table-hover" style="color: rgb(200, 115, 29);">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Faculties</th>
          {{!-- <th>Close Date</th> --}}
          
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <th>
            <img src="/{{img}}" class="img-fluid rounded-circle" style="height: 40px; width: 40px" />
          </th>
          <th>{{name}}</th>
          <th>{{email}}</th>
          <th>
             The user wants the position to apply for: {{roleTreatment}}
            <select class="form-select" onchange="submitChangeRole(this, '{{_id}}')">
              {{#each ../nameRole}}
              <option value="{{_id}}" {{#ifEqual _id ../role._id}}selected{{/ifEqual}}>{{name}}</option>
              {{/each}}
            </select>
          </th>
          <th>
            The user wants to be in the faculty: {{facultyWant}}
            <select class="form-select" onchange="submitChangeFaculties(this, '{{_id}}')">
              <option value="" disabled selected>Choose one</option>
              {{#each ../dataFacultis}}
              <option value="{{_id}}" {{#ifEqual _id ../facultis._id}}selected{{/ifEqual}}>{{nameFaculty}}</option>
              {{/each}}
            </select>
          </th>
          {{!-- <th> --}}
                 {{!-- CloseDate: {{formatDate this.closedate.closeDates}} <br> 
                 FinalDate: {{formatDate this.closedate.finalCloseDates}} --}}
            {{!-- <select class="form-select" onchange="submitChangeCloseDate(this, '{{_id}}')">
               <option value="" disabled selected>Choose one</option>
               {{#each ../dataClose}}
                <option value="{{_id}}"{{#ifEqual _id ../closedates._id}}selected{{/ifEqual}} >{{formatDate closeDates}} - {{formatDate finalCloseDates}} </option>
                {{/each}}
            </select> --}}
            
          {{!-- </th> --}}
          <td>
            {{!-- <button class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i></button> --}}
            <button class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
            {{!-- <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> --}}
             <button type="submit" class="btn btn-primary mt-3" onclick="deleteUser('{{_id}}')" >Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
<div>
</div>




<div class="container-fluid px-1 py-5 mx-auto" style="color:burlywood; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h5 class="text-center mb-4">Register Users</h5>
        <form class="form-card" method="post" action="/admin/registerUser">
          <div class="row justify-content-between text-left">
            <div class="form-group flex-column d-flex">
              <label class="form-control-label px-3">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                required
              />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group flex-column d-flex">
              <label class="form-control-label px-3">Email</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group flex-column d-flex">
              <label class="form-control-label px-3">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div>
            <p>Note:</p>
            <div class="form-group flex-column d-flex">
             </div>
                  <label for="roleTreatment">Desired location</label>
              <Select name="roleTreatment" id="roleTreatment" required class="form-select form-control" >
                 <option value="">--Choose--</option>
                  <option value="65ea821b686f7f723b6dbd5d">Admin</option>
                 <option value="65ead79c686f7f723b6dbd64">Student</option>
                 <option value="65ead5df686f7f723b6dbd60">Guest</option>
                 <option value="65ead7b7686f7f723b6dbd65">Marketing Coordinator</option>
                 <option value="65ead7e6686f7f723b6dbd66">Marketing Manager</option>
                 
              </Select>
             </div>
             <br>
             <div class="form-group flex-column d-flex" style="height: 70px;">
               <label for="facultyWant">Please select the faculty you want</label>
              <Select name="facultyWant" id="facultyWant"  required  class="form-select form-control">
                 <option value="">--Choose--</option>
                 <option value="65fc8dbc27f0ed701480e9e0">Faculty of Information Technology</option>
                 <option value="65efd99176f3b57cc8683aaa">Faculty of graphic design</option>
                 <option value="65efd9bd76f3b57cc8683aab">Faculty business management</option>
              </Select>
              </div>
              </div>
                  <div class="row justify-content-end mt-4">
            <div >
              <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-left: 700px ;">Submit</button>
            </div>
          </div>
            </div>
          
          </div>
        
        </form>
      </div>
    </div>
  </div>
</div>



{{!-- <div class="row" style="color: rgb(233, 156, 40)249, 240); font-family:Optima">
<div class="col-md-6">
<section class="container" class="row" style="border: 3px solid black;" >
<div class="border p-4" style="width: 500px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(219, 116, 27)" class="col-sm">
<h2 class="text-center">Academic Year</h2>
  <form action="/admin/academic" method="post" >
   <div class="form-group mt-3">
    <label for="academic">Start Academic Year</label>
    <input type="date" name="academicStart" id="academicStart" value="" />
    </div>
    <div class="form-group mt-3">
    <label for="End academic" >End Academic Year</label>
    <input type="date" name="academicEnd" id="academicEnd" value="" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">submit</button>
  </form>
  <br>

<table class="table" style="color: chocolate; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each dataAcademicyears}}
      <tr>
        
        <td>
          
          <input
            type="date"
           
            id="academicYears_{{this._id}}"
            name="academicYears"
            value="{{formatDate this.academicYears}}"
          />
          <p> {{formatDate  this.academicYears}}</p>
          </td>
        <td>
          
          <input
            type="date"
            id="End_{{this._id}}"
            name="End"
            value="{{formatDate this.End}}"
          />
          <p>{{formatDate this.End}}</p>
          <td><button onclick="upA('{{_id}}')" class="btn btn-primary">Edit</button>
          <br>
              <button onclick="deA('{{_id}}')" class="btn btn-primary">Delete</button>
          </td>
      </tr>
    {{/each}}
  </tbody>
</table>

</div>


</section>

<br>

</div>
<div class="col-md-6" style="border: 3px solid black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:chocolate;">
<section class="container" class="row">
<div class="border p-4" style="width: 500px;" class="col-sm">
<h2 class="text-center">Faculties</h2>
  <form action="/admin/facultyC" method="post">
   <div class="form-group mt-3">
    <label for="academic">Create a new Faculty </label> <br>
    <input type="text" name="nameFaculty" id="nameFaculty" value="" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">submit</button>
  </form>
  <br>
  <table class="table" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:chocolate" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Faculty</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each dataFacultis}}
      <tr>
        
        <td>
          <input
            type="text"
            id="nameFaculty_{{this._id}}"
            name="nameFaculty"
            value="{{this.nameFaculty}}"
          />
          </td>
          <td>
            <button onclick="updateFa('{{_id}}')" class="btn btn-primary">Edit</button><br>
            <button onclick="deleteFa('{{_id}}')" class="btn btn-primary">Delete</button>
          </td>
      </tr>
    {{/each}}
  </tbody>
</table>
  
</div>
</section>
</div> --}}


{{!-- <section class="container" style="border: 3px solid black; color:chocolate ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  <div class="border p-4">
    <h3 class="text-center">CloseDate</h3>
    <form action="/admin/closeDate" method="post">
      <div class="form-group mt-3">
        <label for="closedate">Close Dates</label>
        <input type="date" class="form-control" name="closedate" id="closedate" />
      </div>
      <div class="form-group mt-3">
        <label for="finalclosedate">Final Close Date</label>
        <input type="date" class="form-control" name="finalclosedate" id="finalclosedate" />
      </div>
      <div class="form-group mt-3">
        <label for="academic">Academic Year</label>
        <select class="form-control" name="academic" id="academic" required>
          <option value="" selected disabled>Choose one</option>
          {{#each dataAcademicyears}}
          <option value="{{_id}}">{{formatDate academicYears}} - {{formatDate End}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="faculty">Facultis</label>
        <select class="form-control" name="faculty" id="faculty" required>
          <option value="" selected disabled>Choose one</option>
          {{#each dataFacultis}}
          <option value="{{_id}}">{{nameFaculty}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

       </form>
  <br>
  <table class="table" style="color: chocolate; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Close Dates</th>
      <th scope="col">Final Close Date</th>
      <th scope="col">Academic Year</th>
      <th scope="col">Facultis</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  {{#each dataClose}}
  <tbody>
 
      <tr>
        
        <td> 
              <p>Start: {{formatDate closeDates}}</p>
               <input type="date" class="form-control" name="closedate" id="closedate_{{this._id}}" value="{{formatDate this.closedate}}" />
             
          </td>
               <td>
                <p>End: {{formatDate finalCloseDates}}</p>
                <input type="date" class="form-control" name="finalclosedate" id="finalclosedate_{{this._id}}" value="{{formatDate this.finalCloseDates}}" />
              </td>
           <td>
         
           <p>{{formatDate academic.academicYears}} - {{formatDate academic.End}}</p>
          <select class="form-select" onchange="subAca(this, '{{_id}}')"required>
             <option value="" selected disabled>Choose one </option>
               {{#each ../dataAcademicyears}} 
                   <option value="{{_id}}"{{#ifEqual _id ../dataAcademicyears._id}}selected{{/ifEqual}} >{{formatDate academicYears}} - {{formatDate End}} </option>
               {{/each}}
        </select>
          
           </td>   
           <td>
            <p>{{faculty.nameFaculty}}</p>
          <select class="form-select" onchange="subFa(this, '{{_id}}')"required>
             <option value="" selected disabled>Choose one </option>
               {{#each ../dataFacultis}} 
                   <option value="{{_id}}"{{#ifEqual _id ../dataFacultis._id}}selected{{/ifEqual}} >{{nameFaculty}} </option>
               {{/each}}
        </select>
           </td>
           
           <td><button onclick="closedateUp('{{_id}}')" class="btn btn-primary">Edit</button>
                <button onclick="deleteClose('{{_id}}')" class="btn btn-primary">Delete</button>
           </td>
      </tr>
  
  </tbody>
  {{/each}}
</table>
  </div>
</section> --}}


{{!-- <section class="container" style="border: 3px solid black; color:chocolate; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  <h4 class="text-center">Articles</h4>
<table class="table" style="color: chocolate; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name Student</th>
      <th scope="col">Name Articles</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Document</th>
      <th scope="col">CreatedAt</th>
      <th scope="col">Comment</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each dataAr}}
      <tr>
        <td>{{this.users.name}} </td>
        <td>{{this.articlesName}}</td>
        <td>{{this.description}}</td>
        <td><img src="{{this.img}}" alt="..." height="130" width="150" /></td>
        <td> <a href="{{this.doc}}" download="document"> Document</a></td>
        <td>{{formatDate this.createdAt}}</td>
        <td>{{this.comment}}</td>
        <td>
          <button onclick="deleteAr('{{_id}}')"  class="btn btn-primary">
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</section> --}}

{{!-- 
<h3>Statistics</h3>
<div class="row">
  <div class="col-md-6" >
<table class="table table-striped table-dark" >
  <thead  >
    <tr>
      <th scope="col">Name Faculty</th>
      <th scope="col">Sum Articles </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each sumAr}}
      <td>{{name}}</td>
      <td>{{count}}</td>
      {{/each}}
    </tr>

  </tbody>
</table >
</div>
  <div class="col-md-6" >
<table class="table table-striped table-dark" >
  <thead>
    <tr>
       <th>Sum Users </th> 
      <th>The general account did not submit the article</th> 
      <th>Sum Comment</th>
      <th>No comment</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      
      <td>{{tong}}</td>
      <td>{{Ar}}</td>
      <td>{{sumCmt}}</td>
      <td>{{noCmt}}</td>
      
    </tr>

  </tbody>
</table>
  </div>
</div>

<div style="height: 500px; width:700px">
<canvas id="myChart" width="200" height="200"></canvas>
</div> --}}

<script>
  // Change role
  function submitChangeRole(e, id) {
    const selectRoleId = e.value;
    const userId = id;

    axios.put(`/admin/update/${userId}`, { role: selectRoleId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }

  // Change faculty
  function submitChangeFaculties(e, id) {
    const selectFacultyId = e.value;
    const userId = id;

    console.log('selectFacultyId: ', selectFacultyId);

    axios.put(`/admin/update/${userId}`, { facultis: selectFacultyId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }

 // ChangeCloseDate

 function submitChangeCloseDate(e, id) {
  const selectCloseDateId = e.value;
  const userId = id;

  console.log('selectCloseDate: ', selectCloseDateId)

  axios.put(`/admin/update/${userId}`, {closedate: selectCloseDateId})
  .then((res) => {
     e.style.background = "#84dd89"
  }).catch((err)=>{
    e.style.background = "rgb(255,86,86)"
  }).finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })


 }




function upA(id) {
  var academicYearsInput = document.getElementById("academicYears_" + id);
  var academicYears = academicYearsInput ? academicYearsInput.value : "";
  var EndInput = document.getElementById("End_" + id);
  var End = EndInput ? EndInput.value : "";
 

  axios
    .put(`/admin/updateA/${id}`, { academicYears, End })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}




function deA(id) {
  axios
    .delete(`/admin/deleteAcademic/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}




function updateFa(id) {
  var nameFacultyInput = document.getElementById("nameFaculty_" + id);
  var nameFaculty= nameFacultyInput ? nameFacultyInput.value : "";
  axios
    .put(`/admin/updateFa/${id}`, { nameFaculty })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}


function deleteFa(id) {
  axios
    .delete(`/admin/deleteFa/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}



function subAca(e,id) {
    const selectAcaId = e.value;
    console.log(selectAcaId);
  axios
    .put(`/admin/closedateUp/${id}`, { academic: selectAcaId })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}

function subFa(e,id) {
    const selectFaId = e.value;
  axios
    .put(`/admin/closedateUp/${id}`, { faculty:selectFaId })
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}






function closedateUp(id) {
  var closedateInput = document.getElementById("closedate_" + id);
  var closeDates= closedateInput ? closedateInput.value : "";
  var finalCloseDatesInput = document.getElementById("finalCloseDates_" + id);
  var finalCloseDates = finalCloseDatesInput ? finalCloseDatesInput.value : "";
 

  axios
    .put(`/admin/closedateUp/${id}`, {finalCloseDates , closeDates})
    .then((data) => {
      console.log(data);
      return window.location.reload();
    })
    .catch((error) => {
      return alert("failed");
    });
}



function deleteClose(id) {
  axios
    .delete(`/admin/deleteCloseDates/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}


function deleteAr(id) {
  axios
    .delete(`/admin/deleteAr/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}




//chart


</script>

<script>
   

    
        const data = {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'total number of submissions',
                data: [10, 30, 50, 70, 100],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        };


        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

 
</script>