<section
  class="container"
  style="border: 3px solid black; color:chocolate; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
>
  <h4 class="text-center">Articles</h4>
  <table
    class="table"
    style="color: chocolate; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name Student</th>
        <th scope="col">Name Articles</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Document</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Comment</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each dataAr}}
        <tr>
          <td>{{this.users.name}} </td>
          <td>{{this.articlesName}}</td>
          <td>{{this.description}}</td>
          <td><img
              src="../{{this.img}}"
              alt="..."
              height="130"
              width="150"
            /></td>
          <td> <a href="../{{this.doc}}" download="document"> Document</a></td>
          <td>{{formatDate this.createdAt}}</td>
          <td>{{this.comment}}</td>
          <td>
            <button onclick="deleteAr('{{_id}}')" class="btn btn-primary">
              Delete
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<script>
  // Change role function submitChangeRole(e, id) { const selectRoleId =
  e.value; const userId = id; axios.put(`/admin/update/${userId}`, { role:
  selectRoleId }) .then((res) => { e.style.background = "#84dd89" })
  .catch((err) => { e.style.background = "rgb(255,86,86)" }) .finally(() => {
  setTimeout(function () { e.style.background = ""; }, 2000); }) } // Change
  faculty function submitChangeFaculties(e, id) { const selectFacultyId =
  e.value; const userId = id; console.log('selectFacultyId: ', selectFacultyId);
  axios.put(`/admin/update/${userId}`, { facultis: selectFacultyId })
  .then((res) => { e.style.background = "#84dd89" }) .catch((err) => {
  e.style.background = "rgb(255,86,86)" }) .finally(() => { setTimeout(function
  () { e.style.background = ""; }, 2000); }) } // ChangeCloseDate function
  submitChangeCloseDate(e, id) { const selectCloseDateId = e.value; const userId
  = id; console.log('selectCloseDate: ', selectCloseDateId)
  axios.put(`/admin/update/${userId}`, {closedate: selectCloseDateId})
  .then((res) => { e.style.background = "#84dd89" }).catch((err)=>{
  e.style.background = "rgb(255,86,86)" }).finally(() => { setTimeout(function
  () { e.style.background = ""; }, 2000); }) } function upA(id) { var
  academicYearsInput = document.getElementById("academicYears_" + id); var
  academicYears = academicYearsInput ? academicYearsInput.value : ""; var
  EndInput = document.getElementById("End_" + id); var End = EndInput ?
  EndInput.value : ""; axios .put(`/admin/updateA/${id}`, { academicYears, End
  }) .then((data) => { console.log(data); return window.location.reload(); })
  .catch((error) => { return alert("failed"); }); } function deA(id) { axios
  .delete(`/admin/deleteAcademic/${id}`) .then((result) => {
  window.location.reload(); }) .catch((error) => { alert("that bai"); }); }
  function updateFa(id) { var nameFacultyInput =
  document.getElementById("nameFaculty_" + id); var nameFaculty=
  nameFacultyInput ? nameFacultyInput.value : ""; axios
  .put(`/admin/updateFa/${id}`, { nameFaculty }) .then((data) => {
  console.log(data); return window.location.reload(); }) .catch((error) => {
  return alert("failed"); }); } function deleteFa(id) { axios
  .delete(`/admin/deleteFa/${id}`) .then((result) => { window.location.reload();
  }) .catch((error) => { alert("that bai"); }); } function subAca(e,id) { const
  selectAcaId = e.value; console.log(selectAcaId); axios
  .put(`/admin/closedateUp/${id}`, { academic: selectAcaId }) .then((data) => {
  console.log(data); return window.location.reload(); }) .catch((error) => {
  return alert("failed"); }); } function subFa(e,id) { const selectFaId =
  e.value; axios .put(`/admin/closedateUp/${id}`, { faculty:selectFaId })
  .then((data) => { console.log(data); return window.location.reload(); })
  .catch((error) => { return alert("failed"); }); } function closedateUp(id) {
  var closedateInput = document.getElementById("closedate_" + id); var
  closeDates= closedateInput ? closedateInput.value : ""; var
  finalCloseDatesInput = document.getElementById("finalCloseDates_" + id); var
  finalCloseDates = finalCloseDatesInput ? finalCloseDatesInput.value : "";
  axios .put(`/admin/closedateUp/${id}`, {finalCloseDates , closeDates})
  .then((data) => { console.log(data); return window.location.reload(); })
  .catch((error) => { return alert("failed"); }); } function deleteClose(id) {
  axios .delete(`/admin/deleteCloseDates/${id}`) .then((result) => {
  window.location.reload(); }) .catch((error) => { alert("that bai"); }); }
  function deleteAr(id) { axios .delete(`/admin/deleteAr/${id}`) .then((result)
  => { window.location.reload(); }) .catch((error) => { alert("that bai"); }); }
  //chart

</script>