<br />
<section class="container">
  <div class="border p-4">
    <h1 class="text-center">
      <div style="height: 40px; color:coral;">Submit your article here</div>
    </h1>
    <form
      action="articles/articlesC/{{FacultyId}}/{{AcademicYearsId}}"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="exampleInputEmail1">ArticlesName</label>
        <input
          class="form-control"
          type="text"
          name="articlesName"
          id="articlesName"
          aria-describedby="emailHelp"
          required
        />
      </div><br />
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input
          class="form-control"
          type="text"
          name="description"
          id="description"
          required
        />
      </div><br />
      <div class="form-group">
        <label for="exampleInputPassword1">Image</label>
        <input type="file" name="files" required />
        <label for="exampleInputPassword1">Document</label>
        <input type="file" name="files" required />
      </div><br />
      <div class="form-group form-check">
        <label for="exampleInputPassword1">Once you submit your work, it will be
          reviewed and approved and you agree</label>
        <input
          type="checkbox"
          class="form-check-input"
          name="condition"
          id="condition"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
<br />
{{#if a}}
  <p>Note: {{a}}</p>
{{/if}}
{{#if b}}
  <p>Note: {{b}}</p>
{{/if}}

<h2><div style="height: 40px; color:coral">Report information</div></h2>
{{#each find}}
  <div class="row">
    <div class="col-xs-6" class="form-floating">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Articles Name :{{articlesName}}</li>
        <li class="list-group-item">Description :{{description}}</li>
        <li class="list-group-item">CreatedAt :{{createdAt}}</li>
        <li class="list-group-item">Comment:{{comment}}</li>
        <li class="list-group-item">Image:
          <img
            src="/{{img}}"
            alt="..."
            style="height: 80px; waith: 80px"
          /></li>
        <li class="list-group-item"><a
            href="/{{doc}}"
            download="Document"
          >Document</a></li>
      </ul></div>
  </div>
  <br />
  <label for="floatingTextarea" style="color: #FF00CC ;">Next Post</label>
{{/each}}