<section
  class="container"
  style="border: 3px solid black; color:chocolate; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
>
  <h4 class="text-center">Articles</h4>
  <table
    class="table"
    style="color: chocolate; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name Student</th>
        <th scope="col">Name Articles</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Document</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Comment</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each dataAr}}
        <tr>
          <td>{{this.users.name}} </td>
          <td>{{this.articlesName}}</td>
          <td>{{this.description}}</td>
          <td><img
              src="../{{this.img}}"
              alt="..."
              height="130"
              width="150"
            /></td>
          <td> <a href="../{{this.doc}}" download="document"> Document</a></td>
          <td>{{formatDate this.createdAt}}</td>
          <td>{{this.comment}}</td>
          <td>
            <button onclick="deleteAr('{{_id}}')" class="btn btn-primary">
              Delete
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>