<section class="container mt-5">
  <div class="border p-4">
    <h2 class="text-center" style="color:coral">Submit your article here</h2>

    <form
      action="articles/articlesC/{{FacultyId}}/{{AcademicYearsId}}"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="articlesName">Articles Name</label>
        <input
          class="form-control"
          type="text"
          name="articlesName"
          id="articlesName"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          type="text"
          name="description"
          id="description"
          required
        />
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" name="files" required />
      </div>
      <div class="form-group">
        <label for="document">Document</label>
        <input type="file" class="form-control" name="files" required />
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="condition"
          name="condition"
          required
        />
        <label class="form-check-label" for="condition">Once you submit your
          work, it will be reviewed and approved and you agree</label>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</section>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="color:coral">Faculty</th>
            <td>{{nameF}}</td>
          </tr>
          <tr>
            <th style="color:coral">Academic Years</th>
            <td>{{formatDate namhoc}}</td>
          </tr>
          <tr>
            <th style="color:coral">Close Academic Years</th>
            <td>{{formatDate ketthucnam}}</td>
          </tr>
          <tr>
            <th style="color:coral">Close Date Final</th>
            <td>{{formatDate hethan}}</td>
          </tr>
          <tr>
            <th style="color:coral">Resubmit Final</th>
            <td>{{formatDate noplai}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<section class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center" style="color:coral">Report information</h2>
      {{#each sta}}
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Articles Name: {{data.articlesName}}</h5>
                <p class="card-text">Description: {{data.description}}</p>
                <p class="card-text">Created At:
                  {{formatDate data.createdAt}}</p>
                <p class="card-text">Comment: {{data.comment}}</p>
                <p class="card-text">Status: {{sta}}</p>
                <img
                  src="/{{data.img}}"
                  class="card-img-top"
                  alt="..."
                  style="height: 200px; width: auto;"
                />
                <a
                  href="{{data.doc}}"
                  class="btn btn-primary mt-3"
                  onclick="viewDocument('{{data.doc}}')"
                >View Document</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <form
              action="articles/uparticles/{{data._id}}"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                />
              </div>
              <div class="form-group">
                <label for="articlesname">Articles Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="articlesname"
                  name="articlesname"
                />
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" name="files" required />
              </div>
              <div class="form-group">
                <label for="document">Document</label>
                <input type="file" class="form-control" name="files" required />
              </div>
              <button type="submit" class="btn btn-dark">Update</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="documentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="documentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="documentModalLabel">Document</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe
          id="documentViewer"
          src=""
          style="width: 100%; height: 500px;"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</div>