<br />
<section class="container">
  <div class="border p-4">
    <h1 class="text-center">
      <div style="height: 40px; color:coral; font-family:Display ">Submit your
        article here</div>
    </h1>

    <form
      action="articles/articlesC/{{FacultyId}}/{{AcademicYearsId}}"
      method="post"
      enctype="multipart/form-data"
      style="color: darkorange; font-family:Display; font-size:25px"
    >
      <div class="form-group">
        <label for="exampleInputEmail1">ArticlesName</label>
        <input
          class="form-control"
          type="text"
          name="articlesName"
          id="articlesName"
          aria-describedby="emailHelp"
          required
        />
      </div><br />
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input
          class="form-control"
          type="text"
          name="description"
          id="description"
          required
        />
      </div><br />
      <div class="form-group">
        <label for="">Image</label>
        <input type="file" name="files" required />
        <label for="">Document</label>
        <input type="file" name="files" required />
      </div><br />
      <div class="form-group form-check">
        <label for="">Once you submit your work, it will be reviewed and
          approved and you agree</label>
        <input
          type="checkbox"
          class="form-check-input"
          name="condition"
          id="condition"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
<br />

<div style="height: 70px; color:coral; font-size:20px">
  Faculty:
  <p>{{nameF}}</p>
  Academic Years:
  <p>{{formatDate namhoc}}</p>
  Close Academic Years:
  <p>{{formatDate ketthucnam}}</p>
  Close Date Final:
  <p>{{formatDate hethan}}</p>
  Resubmit Final
  <p> {{formatDate noplai}}</p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{{#if a}}

  <p class="c">Note: {{a}}</p>

{{/if}}

{{#if b}}
  <p class="c">Note: {{b}}</p>
{{/if}}

<h2><div style="height: 40px; color:coral">Report information</div></h2>
{{#each find}}
  <div class="row">
    <div class="col-xs-6" class="form-floating">
      <ul
        class="list-group"
        style="color: rgb(125, 90, 37); font-size: 20px; font-family: Courier New ; width: 800px;"
      >
        <li class="list-group-item active" aria-current="true">Articles Name :{{articlesName}}</li>
        <li class="list-group-item">Description :{{description}}</li>
        <li class="list-group-item">CreatedAt :{{formatDate createdAt}}</li>
        <li class="list-group-item">Comment:{{comment}}</li>
        <li class="list-group-item">
          <img
            src="/{{img}}"
            alt="..."
            style="height: 200px; waith: 400px"
          /></li>
        <li class="list-group-item"><a href="/{{doc}}">Document</a></li>
      </ul></div>
  </div>
  <div>
    <form
      action="/articles/uparticles/{{id}}"
      method="post"
      enctype="multipart/form-data"
      class="border p-4"
      style="width: 900px"
    >
      <label for="Description">Description</label>
      <input type="text" id="description" />
      <label for="articlesName">ArticlesName</label>
      <input type="text" id="articlesName" /><br />
      <label for="img">Image</label>
      <input type="file" id="files" />
      <label for="doc">Document</label>
      <input type="file" id="files" />
    </form>
  </div>
{{/each}}