<div class="b" style="height: 80px; color:rgb(216, 39, 51);">
  <h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="70"
      height="70"
      fill="currentColor"
      class="bi bi-journal-medical"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"
      />
      <path
        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"
      />
      <path
        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"
      />
    </svg>
    <i class="bi bi-journal-medical">
      Best article</i>
  </h3></div>
<br />
<br />
<br />

{{#each findTrue}}
  <div class="container">
    <div class="row">
      <div class="col" style="width: 700px;">
        <ul
          class="list-group"
          style="color: rgb(125, 90, 37); font-size: 20px; font-family: Courier New"
        >
          <li class="list-group-item active">Faculty :{{nameFaculty}}</li>
          <li class="list-group-item">Articles Name : {{articlesName}}</li>
          <li class="list-group-item">Description : {{description}}</li>
          <li class="list-group-item">CreatedAt :
            {{formatDate createdAt}}</li>
          <li class="list-group-item">
            <img
              src="/{{img}}"
              alt="..."
              style="height: 200px; waith: 400px"
            /></li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <label><div style="font-size: 30px; color:pink"><svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-skip-forward-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5"
        />
      </svg><i class="bi bi-skip-forward-fill"></i>
    </div></label>
{{/each}}