
<div style="font-size: 50px; font-family: Courier New ; margin-left:400px; color:brown"><p>Marketing Coordinator</p></div>



<div style="border: 4px solid #260707; color: rgb(105, 70, 17); font-size: 20px; font-family: Courier New ;">
<table class="table table-bordered" style="border: 4px solid #260707; color:rgb(220, 162, 162)">
  <thead  >
    <tr>
      <th scope="col">Name Student</th>
      <th scope="col">Name Articles</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Document</th>
      <th scope="col">CreatedAt</th>
      <th scope="col">Comment</th>
      <th scope="col">Order</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each findArticle}}
      <tr>
        <td>{{this.users.name}} </td>
        <td>{{this.articlesName}}</td>
        <td><input
            type="text"
            value="{{this.description}}"
            id="description_{{this._id}}"
            name="description"
          /></td>
        <td><img src="{{this.img}}" alt="..." height="130" width="150" /></td>
        <td> <a  href="{{this.doc}}" > Document</a></td>
        <td>{{formatDate this.createdAt}}</td>
        <td><input
            type="text"
            id="comment_{{this._id}}"
            name="comment"
            value="{{this.comment}}"
          /></td>
        <td>
          Status: {{this.status}} <br>
        <label for="status_true_{{this._id}}">True</label><input
          type="radio"
          value="true"
          id="status_true_{{this._id}}"
          name="status_{{this._id}}"
        />
        <label for="status_false_{{this._id}}">False</label>
        <input
          type="radio"
          value="false"
          id="status_false_{{this._id}}"
          name="status_{{this._id}}"
        />

        <td>
          <button onclick="updateAr('{{this._id}}')" class="btn btn-primary">
            Update
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

</div>

{{#if a}}
<p class="c">{{a}}</p>
{{/if}}

{{#if b}}
<p class="c">{{b}}</p>
{{/if}}