<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="https://greenwich.edu.vn/wp-content/uploads/2022/10/Welcome-1.jpg"
        alt="..."
      /></div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Welcome to University of Greenwich</h1>
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is
        a great place to showcase some important information or display a clever
        tagline!</p></div>
  </div>
  <!-- Content Row-->
         {{!-- {{#if findTrue}} <h2 >Best Article</h2> {{/if}}
          {{#each findTrue}}
          <div style="border: solid black ; width: 300px">
          <ul>
            <li>Faculty: {{nameFaculty}}</li>
            <li>Articles Name: {{articlesName}}</li>
            <li>Description: {{description}}</li>
            <li>Image: <img src="{{img}}" alt="..." height="130" width="150"></li>
            <li> <a href="{{doc}}" download ="document">Document</a></li>
          </ul>
          </div>
    {{/each}} --}}



  {{#if findTrue}}   <h3><div style="height: 40px; color:coral">Read the best articles</div></h3>
<br />
<br />
<br />
{{#each findTrue}}
<div class="row">
  <div class="col-xs-6" class="form-floating">
    
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Faculty :{{nameFaculty}}</li>
        <li class="list-group-item" >Articles Name : {{articlesName}}</li>
        <li class="list-group-item">Description : {{description}}</li>
        <li class="list-group-item">CreatedAt : {{formatDate createdAt}}</li>
        <li class="list-group-item">Image:
          <img
            src="/{{img}}"
            alt="..."
            style="height: 200px; waith: 200px"
          /></li>
      </ul>
   
  </div>
</div>
<br>
<br />
<label for="floatingTextarea" style="color: #FF00CC ;">Next Post...</label>
 {{/each}}
{{/if}}
 