<div
  class="page-content page-container"
  id="page-content"
  style="font-size: 20px; font-family: Courier New ;  color:brown ; width: 2000px ; margin-left: 75px"
>
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Manager Table</h4>
            <p class="card-description">
              Follow and edit
            </p>
            <div class="table-responsive">
              <table class="table table-hover" style="color: burlywood;">
                <thead>
                  <tr>
                    <th>Articles Name </th>
                    <th>Description </th>
                    <th>CreatedAt</th>
                    <th>Image</th>
                    <th>Document</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each dataAr}}
                    <tr>
                      <td>{{this.articlesName}}</td>
                      <td>{{this.description}}</td>
                      <td>{{formatDate this.createdAt}}</td>
                      <td><img
                          src="{{this.img}}"
                          alt="..."
                          style="height: 80px; waith: 80px"
                        /></td>
                      <td><a
                          href="{{this.doc}}"
                          download="Document"
                        >Document</a></td>
                      <td><button
                          type="submit"
                          onclick="downloadZip('{{_id}}')"
                          class="btn btn-primary"
                          data-toggle="button"
                          aria-pressed="false"
                          autocomplete="off"
                        >DownloadZip</button></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>