{{!-- <div
  class="page-content page-container"
  id="page-content"
  style="font-size: 20px; font-family: Courier New ;  color:brown ; width: 2000px ; margin-left: 75px"
>
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Manager Table</h4>
            <p class="card-description">
              Follow and edit
            </p>
            <div class="table-responsive">
              <table class="table table-hover" style="color: burlywood;">
                <thead>
                  <tr>
                    <th>Articles Name </th>
                    <th>Description </th>
                    <th>CreatedAt</th>
                    <th>Image</th>
                    <th>Document</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each dataAr}}
                    <tr>
                      <td>{{this.articlesName}}</td>
                      <td>{{this.description}}</td>
                      <td>{{formatDate this.createdAt}}</td>
                      <td><img
                          src="{{this.img}}"
                          alt="..."
                          style="height: 80px; waith: 80px"
                        /></td>
                      <td><a
                          href="{{this.doc}}"
                          download="Document"
                        >Document</a></td>
                      <td><button
                          type="submit"
                          onclick="downloadZip('{{_id}}')"
                          class="btn btn-primary"
                          data-toggle="button"
                          aria-pressed="false"
                          autocomplete="off"
                        >DownloadZip</button></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <form action="/manager/gusetCrA" method="get">
                <button class="btn btn-primary">Register Guest</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

{{! <div class="container-fluid px-1 py-5 mx-auto" style="color:burlywood; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h5 class="text-center mb-4">Register Guest</h5>
        <form class="form-card" method="post" action="/manager/gusetCr">
          <div class="row justify-content-between text-left">
            <div class="form-group flex-column d-flex">
              <label class="form-control-label px-3">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                required
              />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group flex-column d-flex">
              <label class="form-control-label px-3">Email</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group flex-column d-flex">
              <label class="form-control-label px-3">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div>
            <p>Note:</p>
            <div class="form-group flex-column d-flex">
             </div>
             </div>
             <br>
             <div class="form-group flex-column d-flex" style="height: 70px;">
               <label for="facultyWant">Please select the faculty you want</label>
              <Select name="facultyWant" id="facultyWant"  required  class="form-select form-control">
                 <option value="">--Choose--</option>
                 <option value="65fc8dbc27f0ed701480e9e0">Faculty of Information Technology</option>
                 <option value="65efd99176f3b57cc8683aaa">Faculty of graphic design</option>
                 <option value="65efd9bd76f3b57cc8683aab">Faculty business management</option>
              </Select>
              </div>
              </div>
                  <div class="row justify-content-end mt-4">
            <div >
              <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-left: 700px ;">Submit</button>
            </div>
          </div>
            </div>
          
          </div>
        
        </form>
      </div>
    </div>
  </div>
</div> }}
{{!-- <div
  class="page-content page-container"
  id="page-content"
  style="font-size: 20px; font-family: Courier New ;  color:brown ; width: 2000px ; margin-left: 75px"
>
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Manager Table</h4>
            <p class="card-description">
              Follow and edit
            </p>
            <div class="table-responsive" style="width: 100%">
              <table class="table table-hover" style="color: burlywood;">
                <thead>
                  <tr>
                    <th>Articles Name </th>
                    <th>Description </th>
                    <th>CreatedAt</th>
                    <th>Image</th>
                    <th>Document</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each dataAr}}
                    {{#isEqualTrue status}}
                      <tr>
                        <td>{{this.articlesName}}</td>
                        <td>{{this.description}}</td>
                        <td>{{formatDate this.createdAt}}</td>
                        <td><img
                            src="{{this.img}}"
                            alt="..."
                            style="height: 80px; width: 80px;"
                          /></td>
                        <td><a
                            href="{{this.doc}}"
                            download="Document"
                          >Document</a></td>
                        <td>
                          <button
                            type="submit"
                            onclick="downloadZip('{{_id}}')"
                            class="btn btn-primary"
                            data-toggle="button"
                            aria-pressed="false"
                            autocomplete="off"
                          >
                            DownloadZip
                          </button>
                        </td>
                      </tr>
                    {{/isEqualTrue}}
                  {{/each}}
                </tbody>
              </table>
              <form action="/manager/gusetCrA" method="get">
                <button class="btn btn-primary">Register Guest</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

<div
  class="page-content page-container"
  id="page-content"
  style="font-size: 20px; font-family: Arial, sans-serif; color: #8B4513; width: 100%; margin-left: auto; margin-right: auto; padding: 20px;"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4
              class="card-title"
              style="text-align: center; color: #8B4513;"
            >Manager Table</h4>
            <p class="card-description" style="text-align: center;">Follow and
              edit</p>
            <div class="table-responsive">
              <table
                class="table table-bordered table-hover"
                style="color: #8B4513; border: 2px solid #8B4513;"
              >
                <thead>
                  <tr>
                    <th>Articles Name</th>
                    <th>Description</th>
                    <th>CreatedAt</th>
                    <th>Image</th>
                    <th>Document</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each dataAr}}
                    {{#isEqualTrue status}}
                      <tr>
                        <td>{{this.articlesName}}</td>
                        <td>{{this.description}}</td>
                        <td>{{formatDate this.createdAt}}</td>
                        <td><img
                            src="{{this.img}}"
                            alt="Article Image"
                            style="height: 80px; width: 80px;"
                          /></td>
                        <td><a
                            href="{{this.doc}}"
                            download="Document"
                          >Document</a></td>
                        <td>
                          <button
                            type="submit"
                            onclick="downloadZip('{{_id}}')"
                            class="btn btn-primary"
                          >Download Zip</button>
                        </td>
                      </tr>
                    {{/isEqualTrue}}
                  {{/each}}
                </tbody>
              </table>
              <form
                action="/manager/guestCrA"
                method="get"
                style="text-align: center;"
              >
                <button class="btn btn-primary">Register Guest</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>