<section
  class="vh-100"
  style="font-size: 20px; color:burlywood; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;"
            >
              <img
                src="/{{img}}"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 200px; border-radius:10px ; border:5px solid black"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row">
                  <div class="col">
                    <h6>User name</h6>
                    <p class="text-muted">{{name}}</p>
                    <h6>Last name: </h6>
                    <p class="text-muted">{{lastName}}</p>
                    <h6>First Name: </h6>
                    <p class="text-muted">{{firstName}}</p>
                  </div>
                  <div class="col">
                    <h6> Phone:</h6>
                    <p class="text-muted"> 0{{phone}}</p>
                    <h6>Address:</h6>
                    <p class="text-muted"> {{address}}</p>
                    <h6>Email: </h6>
                    <p class="text-muted">{{email}}</p>
                    <h6> Position:</h6>
                    <p class="text-muted"> {{role}}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div style="margin-left: 205px;">
                    <form action="/users/updateUser/{{_id}}" method="get">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        data-toggle="button"
                        aria-pressed="false"
                      >Update Information</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>